.description {
  /* width: 79.6rem; */
  width: 78.8rem;
  background-color: white;
  margin: auto;

  padding: 5.8rem 8rem;

  color: #111111cc;
}

.description h1 {
  font-size: 3.6rem;
  line-height: 4.4rem;

  margin-bottom: 1.8rem;
}

.description p {
  font-size: 2.2rem;
  line-height: 2.8rem;

  margin-bottom: 4.8rem;
}

.description button {
  display: block;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;

  font-size: 1.6rem;
  line-height: 2.4rem;

  color: white;
  background-color: #526eff;
}

.description button:hover {
  background-color: hsl(230, 100%, 56%);
}

@media (max-width: 1023px) {
  .description {
    width: 37.6rem;
    padding: 2.8rem;
  }

  .description h1 {
    font-size: 2.8rem;
    line-height: 3.6rem;

    margin-bottom: 1.8rem;
  }

  .description p {
    font-size: 1.6rem;
    line-height: 2.4rem;

    margin-bottom: 2.4rem;
  }

  .description button {
    min-width: 32rem;
  }
}
