.results {
  padding: 4.2rem 5.2rem;
  background-color: #526eff;
  border-radius: 1.8rem;
}

.results h2 {
  color: white;
  font-size: 3.2rem;
  line-height: 4rem;

  margin-bottom: 2.5rem;
}

.results_data {
  display: flex;
  column-gap: 5.4rem;
  row-gap: 2.2rem;

  margin-bottom: 3.5rem;
}

.results_data p {
  color: white;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.results_data span {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.results_buttons {
  display: flex;

  column-gap: 1.6rem;
}

.results_buttons button {
  background-color: white;
  padding: 1.5rem 3.2rem;
  border-radius: 1.2rem;

  color: #526eff;
}

.results_buttons button:hover {
  background-color: hsl(230, 100%, 98%);
}

@media (max-width: 1023px) {
  .results {
    padding: 1.8rem;
  }

  .results h2 {
    color: white;
    font-size: 2.8rem;
    line-height: 3.6rem;

    margin-bottom: 2.5rem;
  }

  .results_data {
    flex-direction: column;
    align-items: start;
  }

  .results_buttons {
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.8rem;
  }
}
