.roll {
  flex-grow: 1;
}

.roll h2 {
  margin-bottom: 2.4rem;
}

.roll form {
  display: flex;
  gap: 1.6rem;
}

.roll label {
  padding: 1.6rem 3.2rem;
  background-color: #526eff33;
  color: white;
  border-radius: 1.2rem;
  cursor: pointer;
}

.roll input[type='radio'] {
  display: none;
}

/* или можно использовать псевдокласс :has() */
.roll input[type='radio']:checked + label {
  background-color: #526eff;
}
