* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  background-color: #f5f7f9;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter';
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
